<nav  style="  border:0px;" id="swhaider_navbar" class="swhaider_navbar navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    


       <div  id="swhaider_navbar_header" class="navbar-header">



      <button type="button" id= "swhaider_newtask_a" class="glyphicon-inverse glyphicon glyphicon-plus navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     </button>
      <button type="button" id="swhaider_viewtask_a"  class="glyphicon-inverse glyphicon glyphicon-th-list navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     </button>
      <button type="button" id="swhaider_suggesttask_a"  class="glyphicon-inverse  glyphicon glyphicon-heart navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     </button>

    

      <a style="color: white;" class="navbar-brand"><small>UWTasks</small></a>


    </div>

  


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div  class="collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav" >

        
        <li  class="{{option2}}"><a style="color: white" class="glyphicon glyphicon-th-list" id="swhaider_viewtask_a" > </a></li>
        <li  class="{{option1}}"><a style="color: white" class="glyphicon  glyphicon-plus" id= "swhaider_newtask_a" ></a></li>
        <li  class="{{option3}}"><a style="color: white" class="glyphicon  glyphicon glyphicon-heart" id= "swhaider_suggesttask_a" ></a></li>
       
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id = "swhaider_alertspace" > </div>

