
<div id= 'swhaider_singleView_div' style='height:270px; max-width: 100%; overflow: scroll;' >	

<img  class="center-block" src="http://maps.googleapis.com/maps/api/staticmap?center={{location}}&zoom=15&size=200x200&maptype=roadmap&markers=color:red|{{location}}" ></img>
 

   <div style= "margin-top:10px;" class='col-xs-12 label label-default'> {{task_full.date}}</div> 
   <div class='col-xs-12 label label-info'>{{task_full.time}}</div> 

<p style="color:white; word-wrap:break-word; "> {{task_full.description}} </p>

</div>